@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2eipyz');
  src:  url('fonts/icomoon.eot?2eipyz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2eipyz') format('truetype'),
    url('fonts/icomoon.woff?2eipyz') format('woff'),
    url('fonts/icomoon.svg?2eipyz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laser:before {
  content: "\e904";
}
.icon-probe:before {
  content: "\e913";
}
.icon-door:before {
  content: "\e914";
}
.icon-key:before {
  content: "\e915";
}
.icon-not_ready .path1:before {
  content: "\e900";
  color: rgb(255, 207, 51);
}
.icon-not_ready .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-not_ready .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-not_ready .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-check-ico .path1:before {
  content: "\e99f";
  color: rgb(36, 217, 0);
}
.icon-check-ico .path2:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-usb:before {
  content: "\e998";
  color: #001366;
}
.icon-wifi:before {
  content: "\e999";
  color: #001366;
}
.icon-ethernet:before {
  content: "\e99a";
  color: #001366;
}
.icon-thermometer:before {
  content: "\e905";
}
