<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="connect-src * 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../scss/main.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://unpkg.com/ejs@3.1.3/ejs.min.js"></script>

    <script src="../js/ioClient.js"></script>

    <script id="horizontalTemplate" type="text/template">

      <div class="screen-horizontal">
        <header>
          <div class="name-block"><%= friendlyName %></div>
          <div class="ip-address">
            <span><%= ip %></span>
            <i class="flaticon-ic-on-ico"></i>
          </div>
        </header>
        <div class="state-block cooling-state">
          <div class="first-row">
            <div class="interlock-state">
              <p>Interlock: <span class="value"><%= interlock %></span></p>
            </div>
            <div class="temp-state">
              <div class="value"><%= sensorTemperature %> &deg;C</div>
            </div>
          </div>

          <div class="process-state">

              <% switch (state) {
              case 'Cooling' : %>
                <div class="wrapper">
                  <div class="icon">
                    <i class="flaticon-thermometer"></i>
                  </div>
                </div>

                <div class="name"><%= state %></div>
              <% break;

              case 'Idle' : %>
                <div class="wrapper">
                  <div class="icon">
                    <i class="flaticon-right-arrow"></i>
                  </div>
                </div>

                <div class="name"><%= state %></div>
              <% break;

              case 'Experiment in progress' : %>
                <div class="wrapper">
                  <div class="exp-detail">
                    <div class="exp">
                      <p class="label">Experiment</p>
                      <div class="value"><%= experiment %></div>
                    </div>
                    <div class="time-remaining">
                      <p class="label">Time remaining</p>
                      <div class="value"><%= new Date(expTimeRemaining).toLocaleTimeString() %></div>
                    </div>
                  </div>

                  <div class="icon">
                    <div class="lds-ring blue"><div></div><div></div><div></div><div></div></div>
                  </div>
                </div>

                <div class="name" style="color: white; background-color: #54E039;"><%= state %></div>
              <% break;

              case 'Ready' : %>
                <div class="wrapper">
                  <div class="exp-detail">
                    <div class="exp">
                      <p class="label">Experiment</p>
                      <div class="value"><%= experiment %></div>
                    </div>
                    <div class="time-remaining">
                      <p class="label">Time remaining</p>
                      <div class="value"><%= new Date(expTimeRemaining).toLocaleTimeString() %></div>
                    </div>
                  </div>

                  <div class="icon">
                    <i class="flaticon-check-mark"></i>
                  </div>
                </div>

                <div class="name" style="color: white; background-color: #54E039;"><%= state %></div>
              <% break;

              } %>

          </div>
        </div>
        <footer>
          <div class="fw">FW: <%= fw %></div>
          <div class="date-block">
            <%=  new Date().toLocaleTimeString()  %>
          </div>
        </footer>
      </div>
    </script>

    <script id="verticalTemplate" type="text/template">

        <div class="screen-vertical-v1">
            <header>
                <div class="name-block"><%= friendlyName %> </div>
                <div class="time-block"><%=  new Date().toLocaleTimeString()  %></div>
            </header>
            <div class="state-block cooling-state">

              <% if ( state == 'Idle' || state == 'Ready' ) { %>

              <div class="interlock-state" style="background-color: #96A5E6">
                <p class="label" style="color: white">Interlock</p>
                <p class="value" style="color: white"><%= interlock %></p>
              </div>

              <% } else { %>

              <div class="interlock-state">
                <p class="label">Interlock</p>
                <p class="value"><%= interlock %></p>
              </div>

              <% } %>

              <% if ( state == 'Cooling' ) { %>

              <div class="temp-state" style="background-color: #FFCF33">
                <p class="label" style="color: #000000">Temperature</p>
                <p class="value" style="color: #000000"><%= sensorTemperature %> °C</p>
              </div>

              <% } else { %>

              <div class="temp-state">
                <p class="label">Temperature</p>
                <p class="value"><%= sensorTemperature %> °C</p>
              </div>

              <% } %>

                <div class="process-state">
                    <div class="name">
                    <%= state %> 
                    </div>

                  <% switch (state) {
                  case 'Cooling' : %>
                  <div class="icon">
                    <i class="flaticon-thermometer"></i>
                  </div>
                  <% break;

                  case 'Idle' : %>
                  <div class="icon">
                    <i class="flaticon-right-arrow"></i>
                  </div>
                  <% break;

                  case 'Experiment in progress' : %>
                  <div class="icon">
                    <div class="lds-ring blue"><div></div><div></div><div></div><div></div></div>
                  </div>
                  <% break;

                  case 'Ready' : %>
                  <div class="icon">
                    <i class="flaticon-check-mark"></i>
                  </div>
                  <% break;

                  } %>

                </div>

                <div class="exp-detail">
                    <div class="exp">
                    <p class="label">Experiment</p>
                    <div class="value"><%= experiment %></div>
                    </div>
                    <div class="time-remaining">
                    <p class="label">Time remaining</p>
                    <div class="value"><%= new Date(expTimeRemaining).toLocaleTimeString() %></div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="net-block">
                    <div class="ip-address"><%= ip %></div>
                    <div class="fw">FW: <%= fw %></div>
                </div>
                <ul class="icons-list">

                  <% switch (connection) {
                  case 'Ethernet' : %>
                  <li>
                    <i class="flaticon-ethernet"></i>
                  </li>
                  <% break;

                  case 'USB' : %>
                  <li>
                    <i class="flaticon-usb"></i>
                  </li>
                  <% break;

                  case 'WiFi' : %>
                  <li>
                    <i class="flaticon-wifi"></i>
                  </li>
                  <% break;

                  } %>

                </ul>
            </footer>
        </div>
    </script>

    <style>
        table {
            border: 2px solid black;
        }

        input {
            width: 300px;
        }

        select {
            width: 300px;
        }

        textarea {
            width: 513px;
            border: 2px solid black;
        }

        #btnConnect {
            width: 100px;
        }

        #btnDisconnect {
            width: 100px;
        }

        #btnSend {
            width: 100px;
        }
    </style>
</head>

<body>
    <h1>WebSocket Client</h1>
    <!-- WebSocket Connection Parameters Table -->
    <table>
        <tr>
            <td width="200px">WS Protocol</td>
            <td>
                <select id="protocol">
                    <option value="ws" selected="selected">ws</option>
                    <option value="wss">wss</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>WS Hostname</td>
            <td><input type="text" id="hostname" value="localhost"/></td>
        </tr>
        <tr>
            <td>WS Port</td>
            <td><input type="text" id="port" value="8383"/></td>
        </tr>
        <tr>
            <td>WS Endpoint</td>
            <td><input type="text" id="endpoint" /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnConnect" type="button" value="Connect" onclick="onConnectClick()">&nbsp;&nbsp;
                <input id="btnDisconnect" type="button" value="Disconnect" onclick="onDisconnectClick()"
                    disabled="disabled">
            </td>
        </tr>
    </table><br />

    <div id="output"></div>
</body>

</html>
