<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="connect-src * 'unsafe-inline';">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="../scss/main.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://unpkg.com/ejs@3.1.3/ejs.min.js"></script>

    <script src="../js/ioClient.js"></script>

    <script id="template-spinner" type="text/template">

      <div class="screen spinner">

        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

      </div>

    </script>

    <script id="template" type="text/template">

      <div class="screen orientation<%= orientation %>">
        <header>

          <div class="ip-address">
            <span><%= ip_address %></span>
          </div>

          <ul class="icons-list">

            <% switch (network) {
            case 'ethernet' : %>
            <li>
              <i class="icon-ethernet"></i>
            </li>
            <% break;

            case 'usb' : %>
            <li>
              <i class="icon-usb"></i>
            </li>
            <% break;

            case 'wifi' : %>
            <li>
              <i class="icon-wifi"></i>
            </li>
            <% break;

            } %>

          </ul>

        </header>

        <div class="name-date-row">
          <div class="name-block"><%= friendly_name %></div>
          <div class="date-block">
            <%=  new Date().toLocaleDateString()  %>
          </div>
        </div>

        <div class="state-row">

          <div class="process-state">

            <% switch (state) {
            case 'cooling' : %>
            <div class="wrapper">
              <div class="icon">
                <i class="icon-thermometer"></i>
              </div>
            </div>

            <div class="name">Cooling: <span> <%= set_temperature %> °C</span></div>
            <% break;

            case 'not_ready' : %>
            <div class="wrapper">
              <div class="icon">
                <span class="icon-not_ready"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span>
              </div>
            </div>

            <div class="name">Not Ready</div>
            <% break;

            case 'working' : %>
            <div class="wrapper wrapper-working">
              <div class="exp-detail">
                <div class="exp">
                  <div class="value"><%= file_name %></div>
                </div>
                <div class="time-remaining">
                  <p class="label">Time Remaining: <%= new Date(time_remaining).toLocaleTimeString() %></p>
                </div>
                <p class="experiment-text"><span class="br">Experiment</span> in Progress
                  <span class="loading-dots">
                    <span class="loading-dots--dot"></span>
                    <span class="loading-dots--dot"></span>
                    <span class="loading-dots--dot"></span>
                  </span>
                </p>
              </div>
            </div>
            <% break;

            case 'ready' : %>
            <div class="wrapper">

              <div class="icon">
                <span class="icon-check-ico"><span class="path1"></span><span class="path2"></span></span>
              </div>
            </div>

            <div class="name">Ready</div>
            <% break;

            } %>

          </div>

        </div>

        <footer>
          <div class="left-icon-block">

            <% if(probe === 0 ){ %>
            <span class="icon-probe icon-off"></span>
            <% } else { %>
            <span class="icon-probe icon-on"></span>
            <% } %>

            <% if(door === 0 ){ %>
            <span class="icon-door icon-off"></span>
            <% } else { %>
            <span class="icon-door icon-on"></span>
            <% } %>

            <% if(key === 0 ){ %>
            <span class="icon-key icon-off"></span>
            <% } else { %>
            <span class="icon-key icon-on"></span>
            <% } %>

          </div>

          <div class="right-icon-block">

            <% if(laser === 0 ){ %>
            <span class="icon-laser icon-off"></span>
            <% } else { %>
            <span class="icon-laser icon-laser-on"></span>
            <% } %>

          </div>
        </footer>
      </div>
    </script>

    <style>
        table {
            border: 2px solid black;
        }

        input {
            width: 300px;
        }

        select {
            width: 300px;
        }

        textarea {
            width: 513px;
            border: 2px solid black;
        }

        #btnConnect {
            width: 100px;
        }

        #btnDisconnect {
            width: 100px;
        }

        #btnSend {
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="output"></div>
</body>

<script>
    openWSConnection('ws', 'localhost', '8383', '');
</script>
</html>
